.rContentWrapper {
  position: relative;
  display: grid;

  grid-gap: 5px 10px;
  grid-template-areas:
          "type type meta"
          "content content content"
          "help help help"
          "children children children"
          "footer footer footer";

  grid-template-columns: 1fr 1fr minmax(100px, 200px);

  color: #444;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 40px;

  padding: 12px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #EEE;

  overflow: hidden;

  &__type {
    display: flex;
    height: 30px;
    grid-area: type;
    z-index: 2;
    overflow: hidden;

    > div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__editButton {
  }

  &__propertyName {
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__infoBlock {
    grid-area: meta;
    align-self: end;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  &__infoBlockItem {
    list-style: none;
    background-color: #444;
    color: #ffffff;
    padding: 0 .4em;
    margin-right: 1em;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .6;
    z-index: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__helpContent {
    grid-area: help;
    padding: .5em 1em 1em;

    font-size: 14px;
    z-index: 1;
  }

  &__children {
    grid-area: children;
    margin-top: 10px;
    z-index: 1;

    > .rContentWrapper {
      padding: 0;
      margin-bottom: 0;

      box-shadow: none;
    }
  }

  &__content {
    grid-area: content;
    background-color: #FFF;
    padding: 1em;
    z-index: 1;
  }

  &__footer {
    grid-area: footer;
    z-index: 1;
  }
}